<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Cleared Bills</title>
<link rel="stylesheet" href="{{url_for('static',filename='auth.css')}}">
</head>

<body>

<div class="navbar">
    <div class ="nav-left">💸 BillSplitter</div>
    <div class ="nav-right">
        <a href="/home">Dashboard</a>
        <a href="/logout">Logout</a>
    </div>
</div>

<div class="page-content">

<h1>Cleared Bills</h1>

{% if cleared_bills %}

<div class="bills-list">

{% for bill in cleared_bills %}

<a href="/bill/{{bill.id}}" class="bill-row paid">

<div class="bill-left">
<div class="bill-title">{{bill.title}}</div>
<div class="bill-due">Settled</div>
</div>

<div class="bill-right">
<div class="bill-row-amount">
£{{"%.2f"|format(bill.amount)}}
</div>
<span class="status paid">paid</span>
</div>

</a>

{% endfor %}

</div>

{% else %}
<p>No cleared bills yet</p>
{% endif %}

</div>

</body>
</html>
